body{
  font-family: sans-serif;
}

#title {
  background-color: #ef8172;
  color: #fff;
  padding: 7% 15%;
}

 h1{
   font-family: sans-serif bold;
   font-style: normal;
   font-size: 3.5rem;
 }
p{
  color: #8f8f8f;
}
 .navbar{
   padding-bottom: 4.5rem;
 }
 .nav-item{
   padding: 0px 18px;
 }
 .nav-link{
   font-size: 1.2rem;
   font-family: sans-serif;
 }
#navbar-brand{
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
. download-button
  margin: 5% 3% 5% 0%;
}
.title-image{
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
@media (max-width:1028){
.title-image{
  position: static;
}

}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 4.5%;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

#footer {
  background-color: #ef8172;
  margin: 0 ;
}

.footer #cta {
  padding: 2rem 2rem;
  align-items: center;
  justify-content: center;
}

#footer p {
  color: #fff;
  margin: 2rem ;
  padding-bottom: 2rem;
}
