
#header{
    position: fixed;
    
    width:100%;
    
}

#nav-bar{
    position: absolute;
    
    right: 30px;
    top: 25px;
}

.nav-link{
    padding:0px 10px ;
    text-decoration: none;
}
#masinko{
    position: absolute;
    left:50px;
}
h1{
    position: relative;
    left: 140px;
}

#middle{
    position: relative;
    top: 150px;
}
h3{
    text-align: center;
}
#form{
    text-align: center;
  
}
#submit{
    width: 100px;
    margin-top:10px;
    background-color: yellow;
}
