body{
  background-image: url("paris.jpg");
  background-attachment: fixed;
}

#survey-form{
  background-color:#1B1A55;
  font-family: sans-serif;
  width: 40%;
  margin: 20px auto;
  padding: 40px;
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  opacity: 0.8;
}


@media(max-width:552px)
{
   #survey-form
   {
      width: 100%;
      margin:2px;
   }
}
#title{
  text-align: center;
  font-weight: bold;
}
#description{
text-align: center;
font-style: italic;
}
#name{
  width: 100%;
  font-size: 1em;
  margin-bottom: 15px;
}
#email{
  width: 100%;
  font-size: 1em;
  margin-bottom: 15px;
}
#number{
  width: 100%;
  margin-bottom: 15px;
}
.input{
  padding: 10px 10px;
  font-size: 20px;
}
#dropdown{
  width: 100%;
  font-size: 1em;
}
#love{
  width: 100%;
  font-size: 1em;
}
.work{
  margin: 15px 0px;
}
.recommend{
  margin: 15px 0px;
}
.love{
  margin: 15px 0px;
}
.vision{
  margin: 15px 0px;
}
.comment{
  margin: 10px 0px;
  font-size: 1em;
}
#textarea{
  position: relative;
  font-size: 1em;
  width: 100%;
}
#submit{
  width: 100%;

  color: white;
  font-size: 1em;
  margin-top: 30px;
  padding: 10px 10px;
  background-color: green;
}
