

.main_header{
  font-size: 2em;
  text-align: center;
}

#navbar{
  position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}



#navbar ul{
  height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px
}

#navbar li{
   color: #4d4e53;
    border-top: 1px solid;
    position: relative;
    width: 100%;
}

#navbar a{
  display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
#main-doc{
  position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

@media only screen and (max-width:700px) {
  #navbar{
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    }
    #navbar ul{
      border: 1px solid;
    height: 207px;
    }

  #main-doc{
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }

}
