body {
  background-color: #ffd0ec;
  width: 100%;
}
#title {
  text-align: center;
  margin: 50px 10px 20px 10px;
}
#description {
  text-align: center;
}
#img-div {
  background-color: #f6f5f5;
  margin-bottom: 40px;
  display: block;
  padding-bottom: 20px;
  margin: 20px auto;
}
#image {
  max-width: 100%;
  height: auto;
  width: 80%;
  margin: 30px auto;
  display: block;
  align-items: center;
}
#img-caption {
  margin: 0px auto 10px;
  width: 90%;
}
#tribute-info {
  width: 100%;
  margin: 50px 0px;
}
#tribute-heading {
  text-align: center;
  margin: 50px auto;
}
#unordered-list {
  width: 80%;
  margin: 20px auto;
  line-height: 1.8em;
}
#unordered-list li {
  margin: 11px;
}
#more-about-Aklilu {
  text-align: center;
}
